*{
    margin: 0;
    padding: 0;
}
.base{
    background-color: rgb(105, 179, 232);
    display: flex;
    align-items: center;
}

.base .Intro{
    margin-left: 30px;
}



.base .photo img{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.base .contact{
    margin-top: 20px;    
}
.base .contact a{
   color: rgb(28, 28, 154);
    font-weight: 900;
    
}

.Education{
    margin-top: 20px;
    margin-left: 30px;
}

.skills{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
}

.projects{
    margin-top: 20px;
    margin-left: 30px;
}

.certificates{
    margin-top: 20px;
    margin-left: 30px;
}